<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PREGUNTAS</title>
	<link rel="stylesheet" href="/stylepreguntas.css">
	<link rel="icon" type="image/png" href="/imagenes/img-highscore.png" sizes="30x30">
	<!-- letra -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Lobster&family=Rampart+One&family=Space+Mono:ital,wght@0,400;1,700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<div th:object="${usuario}" class="mini-box">
		<p th:text="${usuario.alias}"></p>
		<div th:if="${usuario.vidas == 3}" class="vidas-container">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
		</div>
		<div th:if="${usuario.vidas == 2}" class="vidas-container">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
		</div>
		<div th:if="${usuario.vidas == 1}" class="vidas-container">
			<img class="vidas" src="/imagenes/vidas.png" alt="">
		</div>
	</div>
	<div th:object="${usuario}" class="mini-box-puntaje">
		<p th:text="${usuario.puntaje}"></p>
	</div>

	<form th:action="@{/juego/pregunta}" th:object="${pregunta}" method="POST">
		<div class="body-container">
			<div class="caja-container">
				<div class="botones-item">
					<p class="pregunta-item" th:text="${pregunta.enunciado}"></p>
					<label class="radio-inline">
						<input type="radio" th:value="${pregunta.respuesta1}" name="respuestaElegida" checked> <span th:text="${pregunta.respuesta1}"></span>
					</label>
					<label class="radio-inline">
						<input type="radio" th:value="${pregunta.respuesta2}" name="respuestaElegida"> <span th:text="${pregunta.respuesta2}"></span>
					</label>
					<label class="radio-inline">
						<input type="radio" th:value="${pregunta.respuesta3}" name="respuestaElegida"> <span th:text="${pregunta.respuesta3}"></span>
					</label>
					<label class="radio-inline">
						<input type="radio" th:value="${pregunta.respuesta4}" name="respuestaElegida"> <span th:text="${pregunta.respuesta4}"></span>
					</label>
					<input type="hidden" th:value="${pregunta.id}" name="id">
				</div>
			</div>
		</div>
		<div class="botones-opciones">
			<a class="botones-op" th:href="@{/juego/terminado}">SALIR</a>
			<button type="submit" class="botones-op">SIGUIENTE</button>
		</div>
	</form>
</body>

</html>
