
*{  
    padding: auto;
    margin: auto;  
}

/* NAVEGADOR*/

.nav {
    background-image: url("/imagenes/nav-conlogochico.png");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    margin: 0;
    height: 115px;
    width: auto;
    border-color: black;
    /* box-shadow: 5px 5px 10px black; */
    box-shadow: 2px 2px 5px #999;
}

li a {
    color: white;
    margin-top: 72px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a.nav-link {
    border-color: black;
    background-image: linear-gradient(to left, #00b7da, #161569, #00b7da);
    margin-top: 35px;
    margin-bottom:70px;
}

a.dropdown-item {
	margin-top: 5px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;  
}

li.nav-item {
    display: flex;
    flex-direction: row;
    width:250px;
    justify-content: space-between;
    margin-right:10%;
}

 /*-------------------------*/


 .main-gameover {
    background-image: url("/imagenes/felicitaciones.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla-gameover {
    background-image: url("/imagenes/cuadro-pregunta.jpg");
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'space mono', monospace;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
}

.tabla-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'space mono', monospace;
    font-weight: bolder;
    text-align: center;
    font-size: 23px;
}

.botones-opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.botones-op {
    width: 150px;
    border: 2px solid black;
    background: black;
    color: white;
    border-radius: 3px;
    padding: 10px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.botones-op a {
    color: white;
    text-decoration: none;
}

.botones-op:active {
    background: #94B3FD;
    color: black;
    box-shadow: inset 0px 0.1em 0.6em white;
    transform: translateY(0em);
}

.botones-op:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px black;
    transform: translateY(-0.1em);
}