*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
}

body {

    background-image: url(/imagenes/fondo-login1.png);
    background-size: 1100px 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}
.nav {
    background-image: url(/imagenes/nav-conlogochico.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    margin: 0;
    height: 115px;
    width: 101.5%;
    border-color: black;
    /* box-shadow: 5px 5px 10px black; */
    box-shadow: 2px 2px 5px #999;
}

li a {
    color: white;
    margin-top: 72px;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

a.nav-link {
    border-color: black;
    background-image: linear-gradient(to left, #00b7da, #161569, #00b7da);
    margin-top: 65px;
}

a.dropdown-item {
    margin-top: 5px;
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
}

li.nav-item {
    position: relative;
    right: 12%;
    margin-top: -30px;
}




/*FORMULARIO LOGIN CLASE PADRE*/
div.formulario {
    width: 60%;
    height: 400px;
    margin-top:10px;
}

/*FORMULARIO LOGIN*/
div.for {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}
/*ANASHE*/

.anashe{
	color:white;
	text-decoration: none;
}
.anashe:hover{
	color:white;
	text-decoration: none;
}

div.objetivo1 {
    justify-content: right;
    margin-top: 10px;
    width: 25%;
    height: 450px;
    float: left;

}

div.objetivo2 {
    text-align: center;
    justify-content: center;
    padding-right: 20px;
    font-size: 20px;
    line-height: 2.5;
    float: left;
}

div.objetivo2 p {
    color: midnightblue;
    font-size: 16px;
   
}


/*PIE DE PÁGINA*/
.footer {
    display: flex;
    background-color: black;
    height: 100px;
    width: 101.5%;
    float: left;
    background-attachment: fixed;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

/*ACERCA DE*/
.about {
    padding: 20px;
    padding-left: 50px;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    box-sizing: border-box;
    float: left;
    
}

.about h5 {
    color: blanchedalmond;
    font-size: 12px;
}

.about p {
    color: blanchedalmond;
    font-size: 10px;
}

